data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0" # the default

datacenter = "{{ dc }}"

advertise {
  # Defaults to the first private IP address.
  http = "{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}"
  rpc  = "{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}"
  serf = "{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}"
}

client {
  enabled       = true
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "0.0.0.0:8500"
  ca_file = "{{consul_config_dir}}/certs/{{domain}}-agent-ca.pem"
}